*{
    padding:0;
    margin:0;
    width: 100%;
    }
    
    /* variavel largura (de tamanho) */

    :root{
        /* HEADER  */
            /* blocoOne */
    
            /* blocoTwo */
                /* --tamLupa:; */
                /* --espLupa:; */
    
            /* blocoTree */
                
    
        }




        
        body{
            flex-direction: column  ;
        }





    #cabecalho{
        width: 100%;
        background-color: rgb(107, 65, 162);
        /* posicionamento padrão: esquerda, topo e em coluna */
        display: flex ;/*, muda para linha */
        /* justify-content:center; */
        /* row - linha */
        /* column - coluna */
        /* reverse - inverte */
     
        /* flex-direction: row;, muda a direção do flexbox */
        /* justify-content: center;, muda a orientação horizontal do flexbox */
        align-items: start; /* muda a orientação vertical do flexbox */
        /* flex-wrap: wrap;, evita distorções com falta de espaço */
        gap: 230px;/* espaçamento entre elementos */
    }
    
    #blocoOne{
        /* margin: 0px 100px 10px 39px; */
    }
    
    .logoCogu{
        margin-left: 60px;
    }
    
    #blocoTwo{
    margin-top:90px;
    
    }
    .lupaLogo{
    margin-right:40px;
    /* arrumar lupa junto com img */
    }
    
    #inputSearch{
        border:none;    
        border-radius:6px;
        padding: 24px 144px 0px 0px;
        margin-left:-45px;
        /* resolver a imagem da lupa */
    }
    
    
    #blocoTree{
        background:blue;    
        width: 49%;
        
    }
    #blocoTree ul{
        /* text-align: left; */
        /* position: absolute; */
        /* margin-left:90px; */
    
    }
    
    #blocoTree ul li{
        text-align: center;
    }
    
    
    

        /* CONFIGURAR EM OUTROS TAMANHOS(CELULAR E MEU COMPUTADOR) */
        /* @media screen ( min-width: myPcpx) and (max-width: talspx;){

            HEADER
            BlocoOne
             .logoCogu{
                width:190px;
            }
             .lupaLogo{
                width:40PX;
            }

        } */


        /* Tamanho S20 GALAXYX */
        @media screen and (min-width: 412px) and (max-width: 915px){

            *{
                padding:0;
                margin:0;
                width: 100%;
                }


            /* HEADER */        
            #cabecalho{
                gap: 230px;
            }
            

            #blocoOne{
                /* margin: 0px 100px 10px 39px; */
            }
            
            .logoCogu{
                width: 100px;
                margin-left: 60px;
            }
            
            #blocoTwo{
            margin-top:90px;
            
            }
            .lupaLogo{
            margin-right:40px;
            /* arrumar lupa junto com img */
            }
            
            #inputSearch{
                border:none;    
                border-radius:6px;
                padding: 24px 144px 0px 0px;
                margin-left:-45px;
                /* resolver a imagem da lupa */
            }
            
            
            #blocoTree{
                background:blue;    
                width: 49%;
                
            }
            #blocoTree ul{
                /* text-align: left; */
                /* position: absolute; */
                /* margin-left:90px; */
            
            }
            
            #blocoTree ul li{
                text-align: center;
            }
            

        } 

































    /* achei que eu queria salvar o mundo, mas eu queria me salvar do mundo */
