*{
    padding:0px;
    margin:0px;
    width: 100%;
    }
    
    /* variavel largura (de tamanho) */

    :root{
        /* HEADER  */
            /* blocoOne */
    
            /* blocoTwo */
                /* --tamLupa:; */
                /* --espLupa:; */
    
            /* blocoTree */
                
    
        }




        
        body{
            flex-direction: column  ;
        }





    #cabecalho{
        width: 100%;
        background-color: white;
        /* posicionamento padrão: esquerda, topo e em coluna */
        display: flex ;/*, muda para linha */
        /* justify-content:center; */
        /* row - linha */
        /* column - coluna */
        /* reverse - inverte */
     
        /* flex-direction: row;, muda a direção do flexbox */
        /* justify-content: center;, muda a orientação horizontal do flexbox */
        /* align-items: start;  */
        /* muda a orientação vertical do flexbox */
        /* flex-wrap: wrap;, evita distorções com falta de espaço */
        /* gap: 230px; */
        /* espaçamento entre elementos */
    }
    
    #blocoOne{
        display: flex;
        justify-content: left;
        margin: 8px 10px 10px 39px;
    }
    
    .logoCogu{
        width: 133px;
        margin-left: 20px;
    }
    #blocoOne h1{
        margin:33px 0px 0px 25px;
    }
    
    #blocoTwo{
        
        display: flex;
        justify-content: center;
        margin: 50px 244px 0px 0px;
    }
    .lupaLogo{
        height: 40px;
        width: 50px;
    /* arrumar lupa junto com img */
    }
    
    #inputSearch{
        background-color: rgba(63, 119, 165, 0.185);
        border:none;    
        border-radius:6px;
        height: 40px;
        width: 444px;
        /* resolver a imagem da lupa */
    }
    
    
    #blocoTree{
        display: flex;
        justify-content: right;
        background:rgb(107, 65, 162);    
        width: 49%;
       
        
    }
    #blocoTree ul{
        margin:24px 20px 0px 0px;
        font-size: 18px;
        
    
    }
    
    #blocoTree ul li{
        text-align: center;
        padding-bottom:7px;
    }

    #blocoTree a{
        
        color:greenyellow;
        text-decoration: none;
    }
    #blocoTree a:hover{
        
        color:rgba(29, 139, 158, 0.705);
    }

    .home {
        color:rgb(14, 117, 23);
    }
    .paginaAtual{
        color:orange !important;
    }

   
    #PROMOCOES{
        background:black;
    }
    #promocoes .img1{
        width: 100%;
    }






    footer{
        background: rgba(98, 187, 8, 0.671);
    }
    footer p{
        padding:44px;
        text-align: center;
        font-weight: bold;
    }
    
    

        /* CONFIGURAR EM OUTROS TAMANHOS(CELULAR E MEU COMPUTADOR) */
        /* @media screen ( min-width: myPcpx) and (max-width: talspx;){

            HEADER
            BlocoOne
             .logoCogu{
                width:190px;
            }
             .lupaLogo{
                width:40PX;
            }

        } */


        /* Tamanho S20 GALAXYX */
        @media screen and (min-width: 412px) and (max-width: 915px){

            *{
                padding:0;
                margin:0;
                width: 100%;
                }


            /* HEADER */        
            #cabecalho{
                gap: 230px;
            }
            

            #blocoOne{
                /* margin: 0px 100px 10px 39px; */
            }
            
            .logoCogu{
                width: 100px;
                margin-left: 60px;
            }
            
            #blocoTwo{
            margin-top:90px;
            
            }
            .lupaLogo{
            margin-right:40px;
            /* arrumar lupa junto com img */
            }
            
            #inputSearch{
                border:none;    
                border-radius:6px;
                padding: 24px 144px 0px 0px;
                margin-left:-45px;
                /* resolver a imagem da lupa */
            }
            
            
            #blocoTree{
                background:blue;    
                width: 49%;
                
            }
            #blocoTree ul{
                /* text-align: left; */
                /* position: absolute; */
                /* margin-left:90px; */
            
            }
            
            #blocoTree ul li{
                text-align: center;
            }
            

        } 

































    /* achei que eu queria salvar o mundo, mas eu queria me salvar do mundo */